.external{
    transition-duration: 500ms;

    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 800;

}
.external:active{
    transition-duration: 500ms;
    color: rgb(4, 114, 158);
    letter-spacing: 4px;
    font-size: 35px;
    
}


body{
    transition-duration: 1000ms;
    background-color: white;
}
p{
    transition-duration: 500ms;
    margin-left: 4%;
    margin-right: 4%;
    color: #242424;
    
}
p::first-letter{
    color: #bb0d0d;
    font-size: 20px;
    font-weight: 700;
    

}
p:hover{
    transition-duration: 500ms;
    margin-left: 5%;
    margin-right: 3%;

}
#heading{
    color: darkslategray;
}

#nav{
    background-color:rgb(36, 36, 36);
    overflow: hidden;
    position: fixed;
    width:100%;
    margin-top: 0%;
    margin-left: 0%;
    float:right;
}
#navb{
    
    color: chartreuse;
    text-decoration: none;
    font-size: 18px;
    text-align: center;

}
#navlast{
    
    color:rgb(36, 36, 36);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    
}
#list{
    padding-left: 0px;
    display: block;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-inline: 4%;
    float: left;
}
#list:hover{
    background-color: aqua;
}
#list2{
    display: block;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-inline: 4%;
    float: right;
    background-color:chartreuse;
    
}
