.test{
    color: blueviolet !important;
}
.row div{
    transition-duration: 0.2s;
    background-image:linear-gradient(to bottom,#70ffc0,#6ff78c);
    display: inline-block;
    height: 60px;
    text-align: center;
    font-size: 140%;
    padding-top: 1.1%;
    font-weight: 600;
 
}
.row>.search{
    background-image:linear-gradient(to top,#313131,#181818);
    color: #70ffc0;
    font-weight: 500;

}
.row .logo{

padding-top: 0%;
padding-left: 0.9%;

    
}
.row div:not(.search):not(.logo):not(.blank):not(.search-box):hover {
    transition-duration: 0.2s;
    background-image:linear-gradient(to bottom,#70ffc0,#5ccf75);
    letter-spacing: 1px;
    font-weight: 600;
   
 
}
.row div:not(.search-box).search:hover{
    background-image:linear-gradient(to top,#313131,#181818);
    color: #70ffc0;
    font-weight: 500;
    font-size: 160%;
    letter-spacing: 1px;
    padding-top: 0.8%;

}
.search-box{
    visibility: hidden;
    transform: translateX(-20px);
    height: 20px; 
    background-image:linear-gradient(to top,#313131,#181818);

}
.row .search:hover .search-box{
    visibility: visible;
    margin-right: 20px;
    transform: translateX(-20px);
    height: 20px;
    background-image:linear-gradient(to top,#313131,#181818);
    
}
#search{
    font-size: 20px;
    
    
}

